*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 16px/1.5 arial;
    --background-color: rgb(30, 29, 66);
    --background: rgba(71, 61, 61, 0.164);
    /* overflow: hidden; */
}
.container{
    width: 80%;
    margin: auto;
}
body{
    margin: 0;
    padding: 0;

}




/* header section */
header{
    text-align: center;
    text-transform: uppercase;
    background-color: var(--background-color);
    height: 80px;
    z-index: 1000;
    position:fixed;
    width: 100%;
    border-bottom: orange 2px solid;
}
ul{
    list-style: none;
    float: right;
    margin-top: 30px;
}
ul li{
   display: inline;
   padding: 5px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: center;
}
ul a:hover{
    background-color: rgba(15, 12, 12, 0.384);
    background-size: auto;
    font-weight: bolder;
    color: red;
    font-size: 18px;
}
.logo{
    float: left;
    height: 100%;
    text-align: center;
    /* border: solid 5px goldenrod; */
    text-overflow: hidden;
    font-size: 3rem;
    margin-top: 10px;
    color: red;
    margin-left: 150px;
}

 

/* showcase */
#showcase{
    position: relative;
    border-bottom: orange 4px solid;
    background: var(--background);
    background:url(BG2.jpg) no-repeat 0px -130px;
    background-size: cover;
    height: 350px;
}
h1{
    color: black;
    font-weight: bolder;
    font-size: 2.2rem;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: left;
    /* float: left; */
    margin-left: -40px;
}
#content{
    color: rgb(21, 122, 206);
    margin-left: 20px;
    text-align: justify;
    /* margin-top: 30px; */
    /* overflow: hidden; */
}




/* footer */
#footer{
    background-color: var(--background-color);
    /* overflow: hidden; */
}
.boxes{
    align-items: center;
}
#footer .boxes{
    display:flex;
    padding:30px;

}
#footer .boxes p{
    color: white;
}
#footer a{
    text-decoration: none;
}


/* figures */
.boxes figure{
    float: center;
    padding: 20px;
}

/* humberger menue */
.nav-toggle{
    display: none;
}
.t{
    color: white;
}
.nav-toggle:checked ~nav{
    display: block;
}
.nav-toggle-label{
    position:absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background-color: white;
    height: 2px;
    width: 2rem;
    position: relative;
    border-radius: 2px;
    
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
} 
.nav-toggle-label span::before {
    bottom: 7px;
  }
  .nav-toggle-label span::after {
    top: 7px;
  }